@model IEnumerable<FinalProjV2.Models.GrantRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GrantRequestDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrantRequestExplanation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrantRequestAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrantType.GrantTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.PersonLastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GrantRequestDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrantRequestExplanation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrantRequestAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrantType.GrantTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.PersonLastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GrantRequestKey }) |
            @Html.ActionLink("Details", "Details", new { id=item.GrantRequestKey }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GrantRequestKey })
        </td>
    </tr>
}

</table>
