@model IEnumerable<Assignment7.Models.PersonLite>


@{
    ViewBag.Title = "index";
}

<h2>Dwayne's index!</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apartment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zipcode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.PersonKey)
            </td>
            <td>
                @Html.DisplayFor(model => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Email)
            </td>
            <td>
                @Html.DisplayFor(model => item.Apartment)
            </td>
            <td>
                @Html.DisplayFor(model => item.Street)
            </td>
            <td>
                @Html.DisplayFor(model => item.City)
            </td>
            <td>
                @Html.DisplayFor(model => item.State)
            </td>
            <td>
                @Html.DisplayFor(model => item.Zipcode)
            </td>
        
        </tr>
    }

</table>


